.chat-main
  .chat-main__group
    .chat-main__group__left
      .chat-main__group__left__test<
        test
      .chat-main__group__left__member<
        Member : masa
    .chat-main__group__right
      .chat-main__group__right__edit<
        = link_to '#' do
          Edit
  .chat-main__message
    = render @messages
  .chat-main__btm
    = form_for [@group, @message] do |f|
      .chat-main__btm__box
        = f.text_field :content, class: 'chat-main__btm__box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__btm__box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__btm__send'