.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__user-name
        = current_user.name
      %ul.side-bar__header__box__menu
        %li.side-bar__header__box__menu__icon
          = link_to new_group_path, class: "icon-btn" do
            %i.far.fa-edit.icon-color
        %li.side-bar__header__box__menu__icon
          = link_to edit_user_path(current_user), class: "icon-btn" do
            %i.fa.fa-cog.icon-color
  .side-bar__body
    - current_user.groups.each do |group|
      .side-bar__body__group
        = link_to '#' do
          .side-bar__body__group__tech
            = group.name
          .side-bar__body__group__message<
            まだメッセージがありません